@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.paragraph {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}

.text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}

ul {
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}
